.hero-container {
  background-size: cover;
  height: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tagline-container{
    background-color: black; 
    width: 470px;
    height: 330px;
    padding: 26px;
}
.tagline {
    color: #FFF;
}

.tagline2 {
    color: #FFF;
    font-weight: 300;
}

.brand-image{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
   justify-content: space-evenly;

}
